{% extends 'base.html' %}
{% block css %}
<style>
h1{
    color:blue;
}
</style>
<style>
    h4{
       color:#fff;
    }
</style>
{% endblock %}
{% block body %}
<div style="margin-left:1000px">
    <a href="/logout/"><h4>Logout</h4></a>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="row">
    <div class="span1">
    </div>
    <div class='span3'>
        <h1>{{ poll.question }}</h1>
<form action="/polls/{{ poll.id }}/vote/" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
</div>
{% endblock %}