{% extends 'base.html' %}
{% block css %}
<style>
    h4{
       color:#fff;
    }
</style>
{% endblock %}
{% block body %}
<div style="margin-left:1000px">
    <a href="/logout/"><h4>Logout</h4></a>
</div>
<div style="margin-top:150px">
<div class="row">
    <div class="span5">
    </div>
    <div class='span3'>
        {% if msg %}
           {{ msg }}
        {% endif %}
 {% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<a href='/highest_votes_rcvd_polls/'>Highest votes receieved 5 polls</a>
</div>
{% endblock %}