{% extends 'base.html' %}
{% block css %}
<style>
    h4{
       color:#fff;
    }
</style>
{% endblock %}
{% block body %}

<div style="margin-top:150px">
<div class="row">
    <div class="span5">
    </div>
    <div class='span3'>
        <table>
        {% for vote in votes %}
        
          <tr>
            <td>
                <h4>{{vote.poll.question}}</h4>
            </td>
            <td>
               {{vote.choice.choice_text}}
            </td>
          </tr>
        
               {% endfor %}
        
          {% for poll in left_polls %}
  
            <tr>
              <td>
                <h4>{{poll.question}}</h4>
              </td>
            </tr>
          </table>
          {% endfor %}
        <a href='/index/'>Polls Page</a>
    </div>
</div>
</div>  
        
   
{% endblock %}