{% extends 'base.html' %}
{% block css %}
<style>
    h4{
       color:#fff;
    }
</style>
{% endblock %}
{% block body %}
<div style="margin-left:1000px">
    <a href="/logout/"><h4>Logout</h4></a>
</div>
votes casted by <h4>{{name}}</h4></br>


    question:<h4>{{poll}}</h4></br>
    choice:<h4>{{choice}}</h4>
    <a href="/polls/{{ poll.id }}/">Vote again?</a></br>
    <!--<a href='/{{ poll.id }}/deleting_vote/'>Delete this vote</a>-->
    <form name='input' action = '/deleting_vote/' method='post'>
        {% csrf_token %}
        <input type="hidden" name="poll_id" value="{{poll.id}}">
        <input type="submit" value="Delete">
    </form>
{% endblock %}
