{% extends 'base.html' %}
{% block css %}
<style>
h3{
    color:blue;
}

</style>
{% endblock %}
{% block body %}
<div style="margin-top:150px">
<div class="row">
    <div class="span5">
    </div>
    <div class='span3'>
<form name="input" action='/' method='post'>
    <h3> Login Details</h3>
    <a href='/usercreation/'>New user</a>
{% csrf_token %}

   {{form.errors}} 
    <p>{{form.username.label}}:{{form.username}}</p>
    <p>{{form.password.label}}:{{form.password}}</p>
    <input type="submit" value="Submit">
</form>
</div>
</div>
</div>
{% endblock %}